# Example settings for zendserver.
zendserver:
  # Admin password to login to the ZendServer Dashboard
  admin_password: saltyzend

  # Which versions to use for Zend Server & PHP.
  version: 
    zend: '6.3'
    php: '5.5'
    apache: '2.2'

  # Which webserver to use, can either be apache or nginx
  webserver: apache

  # If Apache is in use you may want to choose to use mpm-itk
  # separate users
  enable_itk: False

  # Whether to bootstrap the Zend Server, otherwise you'll be
  # asked to do so when you login to the ZendServer admin page.
  bootstrap: False

  # License details for ZendServer
  # This option is mandatory when 'Bootstrap' is True
  #
  #license:
  #  order: XXXX-XXXXX-XX
  #  serial: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
