# Example settings for zendserver.
zendserver:
  # Admin password to login to the ZendServer Dashboard
  admin_password: saltyzend

  # Which versions to use for Zend Server & PHP.
  version:
    zend: '8.0.2'
    php: '5.6'
    apache: '2.2'

  # Which webserver to use, can either be apache or nginx
  webserver: apache

  # If Apache is in use you may want to choose to use mpm-itk
  # separate users
  enable_itk: False

  # Whether to use the nginx mainline repo or default stable
  nginx_mainline: False

  # Whether to bootstrap the Zend Server, otherwise you'll be
  # asked to do so when you login to the ZendServer admin page.
  bootstrap: False

  # License details for ZendServer
  # This option is mandatory when 'Bootstrap' is True
  #
  #license:
  #  order: XXXX-XXXXX-XX
  #  serial: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

  # To enable automatic bootstrapping using development settings and a 30-day trial
  #bootstrap_dev: True

  # Extensions can be managed:
  #enable_extensions:
  #  - imagick
  #  - pcntl

  # And turned off
  #disable_extensions:
  #  - db2

  # Directives to be set or modified
  #directives:
  #  - zray.zendserver_ui_url: "https://your.server.example.com:10082/ZendServer"
